<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="text-center mb-4">Update Category</div>
            <div class="card custom-card">
                <div class="card-body">
                    <form *ngIf="categories" (ngSubmit)="updateCategory()">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input required [(ngModel)]="categories.title" name="title" id="title" class="form-control"
                                placeholder="Enter Title here" />
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea placeholder="Enter Description here" rows="10"
                                [(ngModel)]="categories.description" name="description" id="description"
                                class="form-control" required></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary full-width">
                            <i class="mr-2 fas fa-edit"></i>Update Category
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>