<div class="container mt-2">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h5 class="card-title">Read the instructions carefully</h5>
      <div class="card p-4">
      
    
    
        <div class="card-body mt-4">
          <h2>Important Instructions</h2>
         

          <ul>
            <li>Click <b>Start</b> to start the quiz</li>
            <li>You cannot resume the quiz if it gets interrupted</li>
            <li>Time will start when you click the quiz</li>
            <li>Report will be generated in PDF form</li>
          </ul>

        <div class="container d-flex justify-content-center">
            <button class="btn btn-primary " (click)="startQuiz()">Start</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>