.container {
    margin-top: 2rem;
}

.card-header {
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
    font-weight: bold;
}

.card-subtitle {
    margin-top: 25px;
}

.card-body {
    padding: 25px;

    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 55px rgba(0, 0, 0, 0.158);
}

.form-group {
    margin-bottom: 1rem;
}

.btn-block {
    margin-top: 1rem;
}

.btn-primary {
    background-color: #7b1fa2;
    color: #fff;
    border-color: #7b1fa2;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #f1bc31;
    border-color: #f1bc31;
    color: #fff;
}