.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.content {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .content {
        max-width: 90%;

    }
}

@media (max-width: 480px) {
    .content {
        padding: 10px;

    }
}

.mat-card {
    height: 100%;
    background: linear-gradient(to left top, #683aa4, #fda085);
    border-bottom-right-radius: 45px;
    border-top-right-radius: 45px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: -5px;
    margin-left: -10px;
}

.mat-action-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mat-action-list button {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mat-action-list .mat-list-item {
    display: flex;
    align-items: center;

}

.mat-action-list .mat-subheader {
    padding: 16px 8px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 12px;
    font-size: 25px;
}

.mat-subheader {
    text-align: center;
}

.mat-action-list .mat-list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.mat-action-list .mat-list-icon {
    margin-right: 8px;
}

.mat-action-list .mat-list-item.router-link-active {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}


@media screen and (max-width: 768px) {
    .mat-action-list .mat-list-item {
        padding: 12px;
    }

    .mat-action-list .mat-list-icon {
        margin-right: 4px;
    }
}