<div class="container mt-3">
  <div class="row">
    <h1 class="text-center">All Quizzes</h1>
    <div class="col-lg-8 offset-lg-2">
      <div class="card d-flex flex-wrap align-items-stretch" *ngFor="let quiz of quiz">
        <div class="card-header d-flex align-items-center">
          <img mat-card-avatar class="example-header-image mr-3" >
          <div>
            <div class="card-title">Quiz title: {{ quiz.title }}</div>
            <div class="card-subtitle">Quiz category: {{ quiz.category.title }}</div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Quiz description: {{ quiz.description }}</p>
        </div>
        <div class="card-footer d-flex align-items-center">
          <button [routerLink]="'/admin/view-question/' + quiz.qid + '/' + quiz.title"
            class="btn btn-primary">Questions</button>
          <button class="btn btn-primary">Points: {{ quiz.maxMarks }}</button>
          <button class="btn btn-primary">Questions: {{ quiz.numberOfQuestions }}</button>
          <button class="btn btn-primary" (click)="updateQuiz(quiz.qid)">
            Update
          </button>

          <button class="btn btn-primary" (click)="deleteQuiz(quiz.qid)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center mt-3">
  <a routerLink="/admin/add-quiz" class="btn btn-primary">Add New Quiz</a>
</div>